<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" th:href="@{/resources/css/menu.css}">
    <link rel="stylesheet" th:href="@{/resources/css/form.css}">
</head>
<body>
<div id="wrapper">
    <div th:replace="~{header :: header}"></div>
    <div align="center">
        <form id="myForm" method="POST" th:action="@{/login}" th:object="${loginForm}">
            <h2>Вход в систему</h2>
            <!-- Сообщение об ошибке -->
            <div th:if="${loginError}" id = "myError">
                Вы ввели неправильный логин или пароль
            </div>
            <div>
                <label for="username">Login: </label>
                <input type="text" id="username" th:field="*{username}" />
                <br/>

                <label for="password">Password: </label>
                <input type="password" id="password" th:field="*{password}" />
                <br/>
                <button id = myButton type="submit">Войти</button>
            </div>
        </form>
    </div>
    <div align="center">
        <p>
            <a th:href="@{/registration}">Зарегистрироваться</a>
        </p>
        <p>
            <a th:href="@{/}">Главная страница</a>
        </p>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</body>
</html>