<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация об автомобиле</title>
    <link rel="stylesheet" th:href="@{/resources/css/menu.css}">
    <link rel="stylesheet" th:href="@{/resources/css/onePage.css}">
    <link rel="icon" th:href="@{/resources/pages/ico.png}" type="image/png">
</head>
<body>
    <div id="wrapper">
        <div id = "header" align="center">
            <img class="myImage" th:src="@{/resources/icons/back.jpg}" th:onclick="|location.href='@{${backUrl}}'|">
            <div th:if="${showIcons == true}">
                <img alt = "Delete image" class="myImage2" id="delete_auto"
                     th:src="@{/resources/icons/delete-1487-svgrepo-com.svg}"
                     th:data-url="@{/auto/{id}(id=${autoId})}" th:data-back-url="@{${backUrl}}">
                <img alt = "Update image" class="myImage2" th:src="@{/resources/icons/settings-2-svgrepo-com.svg}"
                     th:onclick="|location.href='@{/auto/{id}/updateForm(id=${autoId})}'|">
            </div>
            <h1>Объявление</h1>
        </div>
        <div id = "content">
            <div id = "left-content">
            </div>
            <div id = "right-pannel" th:object="${auto}">
                <div id = "right-content">
                    <p><strong>Марка: </strong> <span th:text="${brand.name}"></span></p>
                    <p ><strong>Модель: </strong><span th:text="*{model}"></span></p>
                    <p><strong>Страна производства: </strong><span th:text="${brand.country}"></span></p>
                    <p><strong>Год выпуска: </strong><span th:text="*{year}"></span></p>
                    <p><strong>Цена: </strong><span th:text="*{price}"></span> руб.</p>
                    <p><strong>Пробег: </strong><span th:text="*{mileage}"></span> км.</p>
                    <p><strong>Описание: </strong><span th:text="*{description}"></span></p>
                </div>
                <div id = "bottom-content">
                    <p><strong>Телефон для связи: </strong> <span th:text="*{phone}"></span></p>
                    <p><strong>Город: </strong> <span th:text="*{city}"></span></p>
                    <p><strong>Имя пользователя: </strong> <span th:text="${user.username}"></span></p>
                </div>
            </div>
        </div>
        <div th:replace="~{footer :: footer}"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:src="@{/resources/js/inAutoInformationPage.js}"></script>
</body>