<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/resources/css/menu.css}">
    <link rel="icon" th:href="@{/resources/pages/ico.png}" type="image/png">
</head>
<body>
<div id="wrapper">
    <div th:replace="~{header :: header}"></div>

    <div align="center">
        <img th:src="@{/resources/icons/not-found.svg}" alt="Not found page" width="200" height="200">
        <div th:if="${er_message == null}">
            <p style="color: red">Sorry, error</p>
        </div>
        <div th:if="${er_message != null}">
            <p th:text="${er_message}" style="color: red">Error text</p>
        </div>
        <div th:if="${back == null}">
            <a th:href="@{/}">Back</a>
        </div>
        <div th:if="${back != null}">
            <a th:href="@{${back}}">Back</a>
        </div>
    </div>

    <div th:replace="~{footer :: footer}"></div>
</div>
</body>
</html>