<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="utf-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" th:href="@{/resources/css/menu.css}">
    <link rel="stylesheet" th:href="@{/resources/css/form.css}">
</head>
<body>
<div id="wrapper">
    <div th:replace="~{header :: header}"></div>

    <div align="center">
        <form id="myForm" th:data-url="@{/password}">
            <!-- Этап 1: Ввод email -->
            <div id="stage1">
                <label for="email">Email:</label><br/>
                <input type="email" id="email" name="email" required/><br/>
                <button type="button" id="sendCodeBtn">Отправить код</button>
            </div>

            <!-- Этап 2: Ввод кода и нового пароля -->
            <div id="stage2" style="display: none;">
                <p>Введите код</p>
                <label for="code">Код:</label><br/>
                <input type="text" id="code" name="code" required/><br/>

                <label for="newPassword">Новый пароль:</label><br/>
                <input type="password" id="newPassword" name="newPassword" required/><br/>

                <button type="button" id="recoverBtn">Восстановить пароль</button>
            </div>
        </form>

        <div id="errors" align="center" class="errorMessages"></div>

        <p>
            <a th:href="@{${back}}">Назад</a>
        </p>
    </div>

    <div th:replace="~{footer :: footer}"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:src="@{/resources/js/password.js}"></script>
</body>
</html>